VITE_SUPABASE_URL=https://wjgyqqqvimymwxdpnabk.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_REDIRECT_URI=https://wjgyqqqvimymwxdpnabk.supabase.co/functions/v1/google-fit-sync/callback
